<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
<body>

    <div class="container">
        <div class="personal-bio">
            <div class="personal-bio__info">
                <img src="{{ url_for('static', filename='img/bio.jpg') }}" alt="">
                <div class="personal-bio__text">
                    <p class="personal-bio__text-name">{{user.fio}}</p>
                    <span class="personal-bio__text-profession">
                        Маркетинг, HR менеджмет, управление проектами
                    </span>
                </div>
            </div>
            <div class="personal-bio__skills">
                <p>заданий выполнено: <span>19</span></p>
                <p>кол-во баллов: <span>278</span></p>
                <p>рейтинг: <span>63</span></p>
            </div>
            <a href="{{ url_for('logout') }}" class="personal-cabinet__exit">
                <img src="{{ url_for('static', filename='img/exit.png') }}" alt="">
                Выход
            </a>
        </div>
    </div>

    <div class="container accordion-list">
        <details>
            <summary>
              <span data-css-icon="plus outline">1.  Начало пути<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">2.  Команда стартапа<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">3.  Поиск и продвижение решаемой проблемы<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">4.  Создание минимального продукта<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">5.  Привлечение клиентов<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">6.  Инвестиции и масштабирование<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
        <details>
            <summary>
              <span data-css-icon="plus outline">7.  Финал<i></i></span>
            </summary>
            <a href="#">Знакомство и ввод в предпринимательство</a>
            <a href="#">Как придумать идею для стартапа</a>
            <a href="#">Как назвать стартап и придумать доменное имя</a>
        </details>
    </div>

    <div class="container">
        <div class="row person-courses">
            <div class="person-courses__item">
                <div class="person-courses__item-text">
                    <p>Методология управления проектом</p>
                    <div><span>9/25</span> <span>уроков</span></div>
                </div>
                <img src="{{ url_for('static', filename='img/comp.png') }}" alt="">
                <div class="progress-courses">
                    <progress id="file" max="100" value="70"></progress>
                </div>
            </div>
            <div class="person-courses__item">
                <div class="person-courses__item-text">
                    <p>Бизнес-тайм-менеджмент</p>
                    <div><span>9/25</span> <span>уроков</span></div>
                </div>
                <img src="{{ url_for('static', filename='img/comp.png') }}" alt="">
                <div class="progress-courses">
                    <progress id="file" max="100" value="30"></progress>
                </div>
            </div>
            <div class="person-courses__item">
                <div class="person-courses__item-text">
                    <p>Презентации в PowerPoint</p>
                    <div><span>9/25</span> <span>уроков</span></div>
                </div>
                <img src="{{ url_for('static', filename='img/comp.png') }}" alt="">
                <div class="progress-courses">
                    <progress id="file" max="100" value="30"></progress>
                </div>
            </div>
            <div class="person-courses__item">
                <div class="person-courses__item-text">
                    <p>Продвижение в Инстаграм</p>
                    <div><span>9/25</span> <span>уроков</span></div>
                </div>
                <img src="{{ url_for('static', filename='img/comp.png') }}" alt="">
                <div class="progress-courses">
                    <progress id="file" max="100" value="80"></progress>
                </div>
            </div>
        </div>
    </div>
   


    





<footer>
        <div class="container">
            <div class="row footer">
                <div class="footer-top">
                    <img src="{{ url_for('static', filename='img/expologo.png') }}" alt="">
                    <div class="footer-top__social">
                        <img src="img/inst.png" alt="">
                        <img src="img/in.png" alt="">
                        <img src="img/you.png" alt="">
                    </div>
                </div>

                <div class="footer-bottom">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link" href="#">Курсы</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Акселератор</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Нетворкинг</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Контакты</a>
                            </li>
                          </ul>
                        </div>
                    </nav>
                    <a href="#" class="footer-bottom__call">+ 7 (928) 123-45-67</a>
                </div>
            </div>
        </div>
    </footer> 
    
    <script src="js/common.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="libs/jquery/dist/jquery.magnific-popup.js"></script>
    
</body>
</html>