<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
</head>
<body>
    <div class="main-form">
        <img src="img/logo-dark.png" alt="">
        <div class="form-block">
            <h2 class="form-block__title">Войти</h2>
            <form class="form" action="">
                <label for="email">Email</label>
                <input class="input-item" type="email" name="enail">
                <label for="pass">Пароль</label>
                <input class="input-item" type="password" name="pass">
                <button class="btn btn-auth">
                    Войти
                </button>
                <a href="#" class="forgotPass">Забыли пароль?</a>
            </form>
        </div>
        <p class="btn-newuser">Новый пользователь? <a href="{{ url_for('static', filename='regist-page.html') }}">Создать учётную запись</a></p>
    </div>
</body>
</html>