<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>business-lab</title>
</head>
<body>
    <header class="header container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{ url_for('static', filename='img/expologo.png') }}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Курсы</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Акселератор</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Нетворкинг</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-auth" href="{{ url_for('register') }}">
                        <img src="{{ url_for('static', filename='img/log-out.png') }}" alt="">
                        Войти</a>
                  </li>
              </ul>
            </div>
        </nav>
    </header>

    <div class="container rating">
        <div class="rating-item">
            <div class="rating-item__top">
                <div class="rating-item__top-select">
                    <select>
                        <option value="">Все направления</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <select>
                        <option value="">За весь период</option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
                <input type="search" placeholder="Поиск" class="search-rating">
            </div>
            <div class="rating-item__list">
                <ol type="1">
                    {% for user in users %}
                    <li>
                        <div class="list-person">
                            <img src="{{ url_for('static', filename='img/1.png') }}" alt="">
                            <p>{{ user.fio }}</p>
                        </div>
                        <div class="list-rating personal-bio__skills">
                            <p>рейтинг по специальности: <span>{{ user.rating }}</span></p>
                            <p>кол-во баллов: <span>{{ user.points }}</span></p>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row footer">
                <div class="footer-top">
                    <img src="{{ url_for('static', filename='img/expologo.png') }}" alt="" class="footer-top__img">
                    <div class="footer-top__social">
                        <img src="{{ url_for('static', filename='img/inst.png') }}" alt="">
                        <img src="{{ url_for('static', filename='img/in.png') }}" alt="">
                        <img src="{{ url_for('static', filename='img/you.png') }}" alt="">
                    </div>
                </div>

                <div class="footer-bottom">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link" href="#">Курсы</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Акселератор</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Нетворкинг</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Контакты</a>
                            </li>
                          </ul>
                        </div>
                    </nav>
                    <a href="#" class="footer-bottom__call">+ 7 (928) 123-45-67</a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>