<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/media.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зарегистрироваться</title>
</head>
<body>
    <div class="main-form">
        <img src="img/logo-dark.png" alt="">
        <div class="form-block">
            <h2 class="form-block__title">Зарегистрируйтесь</h2>
            <form class="form" action="">
                <label for="text">Имя и Фамилия</label>
                <input class="input-item" type="text" name="text">
                <label for="call">Телефон</label>
                <input class="input-item" type="number" name="call">
                <label for="email">Email</label>
                <input class="input-item" type="email" name="enail">
                <button class="btn btn-auth">
                    Зарегистрироваться
                </button>
            </form>
        </div>
    </div>
    
</body>
</html>